
.vagrant/rgloader/loader.rb
.vagrant/machines/j1/virtualbox/vagrant_cwd
.vagrant/machines/j1/virtualbox/synced_folders
.vagrant/machines/j1/virtualbox/private_key
.vagrant/machines/j1/virtualbox/index_uuid
.vagrant/machines/j1/virtualbox/id
.vagrant/machines/j1/virtualbox/creator_uid
.vagrant/machines/j1/virtualbox/box_meta
.vagrant/machines/j1/virtualbox/action_set_name
.vagrant/machines/j1/virtualbox/action_provision
